@font-face {
  font-family: "Merriweather";
  src: url("./fonts/Merriweather-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Merriweather";
  src: url("./fonts/Merriweather-Bold.ttf");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Bold.ttf");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Bold.ttf");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Thin.ttf");
  font-style: normal;
  font-weight: 300;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #505050;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  text-shadow: 4px 8px 7px #bebebe;
  font-size: 45px;
  color: #505050;
}

h1 span {
  background-color: #b2f2ee;
  padding: 0 15px;
}

h2 {
  font-size: 38px;
  color: #191919;
}

h3 {
  font-family: 'Merriweather', serif;
}

a {
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

a:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

section {
  padding-bottom: 100px;
}

.heading {
  text-align: center;
  padding: 100px 0;
}

.heading p {
  font-family: 'Merriweather', serif;
  font-size: 17px;
  color: #505050;
  margin-top: 15px;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}

.header {
  padding: 50px 0;
  background-color: #eff0f2;
}

.menu .menu-button {
  height: 50px;
  width: 50px;
  position: fixed;
  top: 45px;
  right: 190px;
  z-index: 200;
  padding-top: 8px;
  margin-top: 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #eff0f2;
}

.menu .menu-button:hover {
  background-color: #bbbbbb;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.menu .menu-button span {
  height: 4px;
  width: 30px;
  display: block;
  position: relative;
  z-index: 250;
  margin: 5px auto;
  background-color: #606061;
  border-radius: 5px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.menu .menu__nav {
  position: fixed;
  top: 0;
  right: -150%;
  z-index: 100;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  background-color: #eff0f2;
}

.menu .menu__nav__wrapper {
  padding: 100px 50px;
}

.menu .menu__nav__wrapper a {
  display: block;
  font-size: 30px;
  color: #505050;
  text-transform: uppercase;
  position: relative;
  margin: 10px 0;
  padding: 10px 0;
}

.menu .menu__nav__wrapper a:after {
  content: '';
  display: block;
  height: 4px;
  width: 0;
  background-color: #505050;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.menu .menu__nav__wrapper a:hover:after {
  width: 100%;
}

.menu .menu__overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  display: none;
  background-color: #000;
  opacity: .1;
}

.menu.active .menu__top {
  margin: 15px auto 0 auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu.active .menu__middle {
  opacity: 0;
  display: none;
}

.menu.active .menu__bottom {
  margin: -4px auto 0 auto;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu.active .menu__nav {
  height: 100%;
  width: 300px;
  right: 0;
}

.menu.active .menu__overlay {
  display: block;
}

.intro {
  background-color: #eff0f2;
}

.intro .heading {
  padding: 100px 0;
}

.intro__button {
  text-align: center;
}

.intro__button a {
  color: #505050;
  font-size: 18px;
  padding: 12px 35px;
  border: 1px solid #505050;
  -webkit-transition: .2s;
  transition: .2s;
}

.intro__button a:hover {
  background-color: #505050;
  color: #fff;
}

.intro__img {
  text-align: right;
}

.intro__img img {
  margin-top: -20px;
}

.about {
  background-color: #f8fafa;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__content .slider,
.about__content .about__info {
  width: 50%;
  line-height: 1.5em;
}

.slider__background {
  height: 380px;
  width: 450px;
  position: relative;
  background-color: #ecedef;
}

.slider__background img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 4px 4px 20px #dadada;
          box-shadow: 4px 4px 20px #dadada;
}

.slider__buttons {
  width: 77%;
  text-align: center;
  margin: 70px 0;
}

.slider__buttons span {
  height: 10px;
  width: 10px;
  display: inline-block;
  background-color: #d0d0d0;
  border-radius: 3px;
  cursor: pointer;
}

.slider__buttons .active {
  background-color: #71f6eb;
}

.works__content {
  text-align: center;
}

.services {
  background-color: #f9fbfb;
  padding-bottom: 70px;
}

.services .img__block {
  position: relative;
  display: inline-block;
  color: #f9fbfb;
  overflow: hidden;
}

.services .img__block .img__content,
.services .img__block .img__moreinfo {
  width: 100%;
  display: inline-block;
  position: absolute;
  left: 0;
  line-height: 1.7em;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.services .img__block .img__content h3,
.services .img__block .img__moreinfo h3 {
  font-size: 20px;
  text-transform: uppercase;
}

.services .img__block .img__content a,
.services .img__block .img__moreinfo a {
  color: #f9fbfb;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.services .img__block .img__content a:hover,
.services .img__block .img__moreinfo a:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.services .img__block .img__content {
  height: 99%;
  top: 0;
  padding: 140px 70px 0 70px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.services .img__block .img__moreinfo {
  top: 100%;
  padding: 60px 100px 0 60px;
  background-color: #70f5eb;
  color: #29625e;
}

.services .img__block .img__moreinfo h3 {
  color: #132928;
}

.services .img__block .img__moreinfo p {
  font-size: 16px;
}

.services .img__block .img__moreinfo i {
  font-size: 35px;
  font-weight: 00;
  position: relative;
  -webkit-transform: rotate(0.25turn);
          transform: rotate(0.25turn);
  color: #44948d;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  cursor: pointer;
}

.services .img__block .img__moreinfo i:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.services .img__block:hover .img__content {
  opacity: 1;
}

.services .img__block.active .img__moreinfo {
  height: 99%;
  top: 0;
}

.services .img__block.active .img__content {
  height: 0;
}

.services__content .img__block:first-child img {
  width: 651px;
  height: 422px;
}

.img__block {
  z-index: 5;
}

.team {
  background-color: #fefefe;
}

.team__content .img__block {
  position: relative;
  display: inline-block;
  z-index: 10;
}

.team__content .img__block .img__content {
  height: 0;
  width: 320px;
  position: absolute;
  top: 40%;
  left: 25px;
  padding: 40px;
  -webkit-box-shadow: 3px 7px 7px 1px #929292;
          box-shadow: 3px 7px 7px 1px #929292;
  background-color: #6ef4e9;
  opacity: 0;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.team__content .img__block .img__content:after {
  content: '';
  position: absolute;
  top: 0;
  left: 20px;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-bottom-color: #6ef4e9;
  border-top: 0;
  margin-top: -12px;
}

.team__content .img__block .img__content h3 span {
  font-size: 15px;
  color: #767776;
  font-style: italic;
  font-weight: normal;
}

.team__content .img__block .img__content a {
  color: #505050;
}

.team__content .img__block .img__content i {
  font-size: 15px;
  margin-right: 6px;
}

.team__content .img__block:hover .img__content {
  height: 230px;
  opacity: 1;
}

.reviews__content .slider {
  width: 40%;
}

.reviews__content .reviews__info {
  width: 60%;
}
/*# sourceMappingURL=styles.css.map */